<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>BarFinderApp</title>

    <!-- BarFinderApp-Verweise -->
    <link href="css/index.css" rel="stylesheet" />

    <link href="lib/ionic.css" rel="stylesheet">
    <script src="lib/ionic.bundle.js"></script>

    <script src="lib/app.js"></script>

    <link href="http://code.ionicframework.com/0.9.26/css/ionic.min.css" rel="stylesheet">
    <script src="http://code.ionicframework.com/0.9.26/js/ionic.bundle.min.js"></script>


    <!-- spacer CSS, eigentlich in css reinpacken-->
    <style type="text/css">
        .spacer {
            padding-top: 3em;
        }

        .col {
            margin: 2px;
            background-color: #ddd;
        }
    </style>

</head>


<body ng-controller="MyCtrl">

    <!-- Header: Choose your mood-->
    <div class="bar bar-header bar-light">
        <h1 class="title">Choose your mood!</h1>
    </div>

    <div class="spacer"></div>

    <div class="spacer"></div>

    <!-- Slider 1: valence-->
    <div class="list">
        <div class="item range range-positive">
            <i class="icon ion-minus"></i>
            <input type="range" name="valence" ng-model="data1.valence" min="0" max="100" value="33">
            <i class="icon ion-plus"></i>
        </div>
    </div>


    <!-- Slider 2: arousal-->
    <div class="list">
        <div class="item range range-positive">
            <i class="icon ion-minus"></i>
            <input type="range" name="arousal" ng-model="data2.arousal" min="0" max="100" value="33">
            <i class="icon ion-plus"></i>
        </div>
    </div>

    <div class="spacer"></div>

    <!-- Button -->
    <a class="button button-balanced button-block">Find a bar!</a>
    
    
    <!-- old -->
    <!--
        <div>
            <div>
                <ion-view title="Chose">
                    <ion-content padding="true" class="has-header">
                        <ion-list></ion-list>
                        <ion-list>
                            <ion-item class="range range-positive">
                                Valence
                                <input type="range" value="0" min="-10" max="10" name="valence">
                            </ion-item>
                            <ion-item class="range range-positive">
                                Arousal
                                <input type="range" value="0" min="-10" max="10" name="arousal">
                            </ion-item>
                        </ion-list>
                        <a class="button button-balanced button-block">Find a bar!</a>
                    </ion-content>
                </ion-view>
            </div>
        </div>
        -->




    


        <!-- Cordova-Verweis, wird Ihrer App beim Erstellen hinzugefügt. -->
        <script src="cordova.js"></script>
        <script src="scripts/platformOverrides.js"></script>

        <script src="scripts/index.js"></script>
</body>
</html>